<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-Shirt Order Form</title>
    <style>
        *
        {
            margin:0;
            padding:0;
            box-sizing: border-box;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            scroll-behavior:smooth;
        }
        body
        {
            min-height:100vh;
            background: linear-gradient(lightblue,#fff);
            overflow-x:hidden;
        }
        label {
            display: block;
            margin-top: 10px;
        }
        h1{
            display:flex;
            position: relative;
            justify-content: center;
            text-align: center;
            font-size: 2.4rem;
            padding:2rem;
        }
        .inputz{
            position:relative;
            text-align: center;
            font-size: 30px;
            border-radius: 20px;
        }
        .btn{
            margin: 20px;
            height:70px;
            width:150px;
            border-radius: 20px;
            box-shadow:0 20px 35px rgba(0, 0, 0, 0.5);
            background-color: orange;
            font-size: 30px;
        }
        input{
            height:50px;
            width:100px;
            box-shadow:0 20px 35px rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            size: 50px;
            text-align: center;
            font-size: xx-large;
        }

        /* backend changes to ENTERING DISPLAY DETAILS */
        .display{
            width: 25rem;
            margin: 0.4rem;
        }
        .deets{
            width: 25rem;
            margin: 0.4rem;
        }
        
    </style>
</head>

<body>
    <h1>BULKY BUY</h1>
    <hr style="height:7px; background-color:black">

    <h2 style="text-align: center; margin: 20px;">Buy products for your friends,family and teams!</h2>
    <form name="user-order"  action="/order" method="post" >
    
        <div class="inputz">
        <label for="quantity">Enter the number of T-shirts:</label>        
        <input type="number" id="quantity" min="1">

        <label for="quantity">Enter the fields to display inside T-shirt QR:</label>        
        <input type="text" class="display"><br>
        <input type="text" class="display"><br>
        <input type="text" class="display"><br>
        <input type="text" class="display">
        <br><button type="button" class="addFields btn" style="font-size: 2rem; width:auto; height:auto; padding:0.07rem 0.6rem;" onclick="handleAddFields()">+</button>



        <br><button type="button" class="btn" onclick="generateInputs()">BUY NOW</button>

    </div>
    </form>
    
    <script>
        function handleAddFields(){
            let container = document.querySelector('.inputz');
            let addButton = document.querySelector(".addFields");
            for (let i = 1; i <3; i++) {
                var br= document.createElement('br');
                var detail= document.createElement('input');
                detail.className="display";  

                addButton.previousSibling.before(br);
                addButton.previousSibling.before(detail);
            }
        }

        function generateInputs() {
            var deetList = document.getElementsByClassName("display");
            var deetOn=[];
            for (i=0;i<deetList.length;i++){
                if (deetList[i].value != ''){
            deetOn.push(deetList[i].value);
                }
        }
        console.log(deetOn);


            const quantity = document.getElementById('quantity').value;
            let container = document.querySelector('.inputz');
            container.innerHTML = '';
            for (let i = 1; i <= quantity; i++) {
                const label = document.createElement('label');
                label.textContent = `Details for T-shirt #${i}:`;
                container.appendChild(label);

                for (let j=0;j<deetOn.length;j++){
                    var label2 = document.createElement("label");
                    label2.innerHTML=`${j+1}. ${deetOn[j]}:`;

                    var input = document.createElement('input');
                    input.type = 'text';
                    input.name = `${deetOn[j]}`;
                    input.className="deets"

                    container.append(label2,input,document.createElement("br"))
                    
                }container.appendChild(document.createElement("br"))
                           
            }
                let button = document.createElement("input");
                button.type="submit";
                button.value="Submit";
                button.className= "btn";
                
                container.appendChild(document.createElement("br"));
                container.appendChild(button);
        }
    </script>
</body>
</html>
