<!DOCTYPE html>
    <html>
        <head>
        <title>Nebula</title>
        <link rel="stylesheet" href="master.css">
        <link rel="stylesheet" href="/home/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
</head>
<body>
    <header>
            
            <a href="/" class="logo">Nebula</a>
            <div class="box" style="z-index: 100000;">
                <input type="checkbox" id="check">
                <div class="search-box">
                  <input type="text" placeholder="Type here...">
                  <label for="check" class="icon">
                    <i class="fas fa-search"></i>
                  </label>
                </div>
              </div>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/user" ><i class='bx bx-user-circle profile'></i></a></li>

            </ul>
            
        </header>
        <section>
            <img src="stars.png" id="stars">
            <img src="oversized.png" id="oversizedd">
            <img src="oversized-front.png" id="oversizedd">
            <h2 id="text">NEBULA</h2>
            <button id="btn">Let's Get Started</button>
        </section>
        <h2 style="background-color: white; text-align: center; color:#2b1055; font-size:50px; padding:20px; margin:20px;">WINTER SALE!</h2>
        <hr style="background-color: #1c0522; height:50px;">
        
        <!-- ------------------------------------SLIDER DIVISON---------------------------------- -->

        <div class="slider">
            <div class="list">
                <div class="item">
                    <img src="Banner_01.jpg" alt="">
                </div>
                <div class="item">
                    <img src="Banner_02.jpg" alt="">
                </div>
                <div class="item">
                    <img src="Banner_03.jpg" alt="">
                </div>
                <div class="item">
                    <img src="Banner_04.jpg" alt="">
                </div>
            </div>
            <div class="buttons">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <ul class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <!-- ----------------------------------WINTER COLLECTION----------------------------------------- -->

        <hr style="background-color: #1c0522; height:50px;">
        <div class="product" >
            <h2 style="background-color: white; text-align: center; font-size:50px; color:#2b1055">Our winter Collection</h2>
        <div class="row">
            <div class="fig">
                <img class="figg" src="black.jpg" width="300px" height="200px">
                <figcaption>White T-shirt</figcaption>
            </div>
            
            <div class="fig">
                <img class="figg" src="oversized.jpeg" width="300px" height="200px">
                <figcaption>BlackPant</figcaption>
            </div> 

            <div class="fig">
                <img class="figg" src="hoodie.jpg" width="300px" height="200px">
                <figcaption>Hoodie</figcaption>
            </div> 
            <div class="fig">
                <img class="figg" src="oversized.jpeg" width="300px" height="200px">
                <figcaption>Oversized</figcaption>
            </div>
        </div>
    </div>
    
        <script src="homeScript.js"></script>
        </body>
    </html>
</DOCTYPE>
